NODE_ENV=development
HOST=0.0.0.0
PORT=3333

MONGODB_URI=mongodb+srv://zimbacontrol_app:SENHA@SEU_CLUSTER.mongodb.net/zimbacontrol?retryWrites=true&w=majority&appName=ZimbaControl
MONGODB_DB=zimbacontrol

SYNC_DEFAULT_HOUSEHOLD_ID=household-main
SYNC_ALLOW_DEV_AUTH=true
SYNC_DEV_DEVICE_SECRET=gere-uma-string-grande-local

GOOGLE_OIDC_ENABLED=false
GOOGLE_OIDC_AUDIENCE=
ALLOWED_EMAILS=seuemail@gmail.com

SESSION_JWT_SECRET=gere-outra-string-grande-local
SESSION_TTL_SECONDS=2592000
